*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}

body{
    background-color: blanchedalmond;
    color:burlywood#333;
    text-align:center;
    line-height:3;
    
}

.section{
    padding: 40px 20px;
}

.hero{
    padding:50px 20 px;
}

.hero h1{
    font-size: 32px;
}

.grid{
    display: grid;
    gap:10px;
}

.grid div{
    background-color:darkseagreen;
    padding:20px;
    border-radius:100px;
}
.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
@media (max-width: 768px){
    .hero h1{font-size:40px;}
}
@media(max-width: 768px){
     body{
    background-color: rgb(205, 255, 211);
    color:burlywood#333;
    text-align:center;
    line-height:3;
    
}
}
.hero-text{
    display:flex;
    flex-direction: column;
}
#home {
    color: #f77f00; /* Warm orange */
}

/* Color for #about section */
#about {
    color: #008080; /* Teal */
}

/* Color for #skills section */
#skills {
    color: #1d3557; /* Deep blue */
}

/* Grid items inside #skills section */
#skills .grid div {
    background-color: #a8dadc; /* light blue-green background */
    color: #1d3557; /* Deep blue text */
    font-weight: bold;
